<h4>{{food.name}}</h4>
<img src="menu/images/{{food.img}}" alt="{{food.name}}">
<p>{{#link-to 'item' food.id}}{{food.name}}{{/link-to}}</p>
<button {{action 'chooseItem' category food.name}}>Select Item</button>

{{yield}}
