<div class="order-tracker">
  <div>
    Select food for {{orderManager.selectedDay}}
  </div>
  {{#each-in orderManager.menuSelection as |day menuOrder|}}
  <div class="{{if (eq day orderManager.selectedDay) 'active'}}" {{action 'setDayTo' day}}>
    {{day}}
    <dl>
      <dt>Salad</dt>
      <dd>
	{{#if menuOrder.salad}}
	  {{menuOrder.salad}} <span class="remove-item" {{action 'remove' day 'salad'}}>&#10006;</span>
	{{/if}}
      </dd>
      <dt>Sandwich</dt>
      <dd>
	{{#if menuOrder.sandwich}}
	  {{menuOrder.sandwich}} <span class="remove-item" {{action 'remove' day 'sandwich'}}>&#10006;</span>
	{{/if}}
      </dd>
      <dt>Meal</dt>
      <dd>
	{{#if menuOrder.meal}}
	  {{menuOrder.meal}} <span class="remove-item" {{action 'remove' day 'meal'}}>&#10006;</span>
	{{/if}}
      </dd>
      <dt>Dessert</dt>
      <dd>
	{{#if menuOrder.dessert}}
	  {{menuOrder.dessert}} <span class="remove-item" {{action 'remove' day 'dessert'}}>&#10006;</span>
	{{/if}}
      </dd>
      <dt>Drink</dt>
      <dd>
	{{#if menuOrder.drink}}
	  {{menuOrder.drink}} <span class="remove-item" {{action 'remove' day 'drink'}}>&#10006;</span>
	{{/if}}
      </dd>
      <dt>Snack</dt>
      <dd>
	{{#if menuOrder.snack}}
	  {{menuOrder.snack}} <span class="remove-item" {{action 'remove' day 'snack'}}>&#10006;</span>
	{{/if}}
      </dd>
    </dl>
  </div>
  {{/each-in}}
</div>

{{yield}}
