<div class="order-tracker">
  <div>
    Selection for {{orderManager.selectedDay}}
  </div>
  {{#each-in orderManager.menuSelection as |day menuOrder|}}
  <div>
    {{day}}
    <dl>
      <dt>Salad</dt>
      <dd>{{menuOrder.salad}}</dd>
      <dt>Sandwich</dt>
      <dd>{{menuOrder.sandwich}}</dd>
      <dt>Meal</dt>
      <dd>{{menuOrder.meal}}</dd>
      <dt>Dessert</dt>
      <dd>{{menuOrder.dessert}}</dd>
      <dt>Drink</dt>
      <dd>{{menuOrder.drink}}</dd>
      <dt>Snack</dt>
      <dd>{{menuOrder.snack}}</dd>
    </dl>
  </div>
  {{/each-in}}
</div>

{{yield}}
