<h3>{{model.name}}</h3>

<img class="item__image" src="menu/images/{{model.img}}" alt="{{model.name}}">

<dl>
  <dt>Rating</dt>
  <dd>{{model.rating}}</dd>
  <dt>Calories</dt>
  <dd>{{model.calories}}</dd>
  <dt>Description</dt>
  <dd>{{model.description}}</dd>
</dl>

{{outlet}}
