<h2>Meals</h2>
<h3>Salads</h3>
<div class="items-container">
{{#each model.salads as |salad|}}
    {{menu-item food=salad}}
{{/each}}
</div>

<h3>Sandwiches</h3>
<div class="items-container">
{{#each model.sandwiches as |sandwich|}}
    {{menu-item food=sandwich}}
{{/each}}
</div>

<h3>Main Meals</h3>
<div class="items-container">
{{#each model.mainMeals as |meal|}}
    {{menu-item food=meal}}
{{/each}}
</div>

<h3>Desserts</h3>
<div class="items-container">
{{#each model.desserts as |dessert|}}
    {{menu-item food=dessert}}
{{/each}}
</div>

<h3>Drinks</h3>
<div class="items-container">
{{#each model.drinks as |drink|}}
    {{menu-item food=drink}}
{{/each}}
</div>

<h3>Snacks</h3>
<div class="items-container">
{{#each model.snacks as |snack|}}
    {{menu-item food=snack}}
{{/each}}
</div>
{{outlet}}
